@model Actividad4LengProg3.Models.CalificacionViewModel
@{
    ViewBag.Title = "Eliminar Calificación";
}

<h3>¿Eliminar esta calificación?</h3>

<dl class="row">
    <dt class="col-sm-2">Estudiante</dt>
    <dd class="col-sm-10">@Model.Estudiante?.NombreCompleto</dd>

    <dt class="col-sm-2">Materia</dt>
    <dd class="col-sm-10">@Model.Materia.Nombre</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Lista" class="btn btn-secondary ms-2">Cancelar</a>
</form>
