@model Actividad4LengProg3.Models.MateriaViewModel

@{
    ViewBag.Title = "Editar Materia";
}

<h2 class="mb-4">@ViewBag.Title</h2>

<form asp-action="Editar" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="Codigo" class="form-label"></label>
        <input asp-for="Codigo" class="form-control" readonly />
    </div>


    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Creditos" class="form-label"></label>
        <input asp-for="Creditos" type="number" class="form-control" />
        <span asp-validation-for="Creditos" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Carrera" class="form-label"></label>
        <input asp-for="Carrera" class="form-control" />
        <span asp-validation-for="Carrera" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Guardar Cambios</button>
    <a asp-action="Lista" class="btn btn-secondary ms-2">Cancelar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


